<main class="content w-full">
<%= link_to sanitize("&larr; Back to quotes"), electronic_path %>

  <div class="header">
    <h1>Edit Electronic</h1>
  </div>

  <%= turbo_frame_tag @electronic do %>
      <%= render "form", electronic: @electronic %>
  <% end %>
</main>