<main class="content w-full">
<%= turbo_frame_tag "add_electronic" do %>
    <div class="header flex justify-between w-full">
        <h1 class="text-4xl">Shop for Electronics</h1>
        <%= link_to "New Electronic", 
        new_electronic_path, 
        data: {turbo_frame: "electronics_list"},
        #  data: {turbo_frame: "_top"},
        class: "text-white bg-pink-400 rounded-lg px-6 py-4" %>
    </div>
<% end %>

<%= render @electronics %>
</main>