<main class="content w-full">
<%= link_to sanitize("&larr; Back to quotes"), electronics_path %>

  <div class="header">
    <h1>New Electronic</h1>
  </div>

  <%= render "form", electronic: @electronic %>
</main>